* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #9da389;
}

.nav-link {
    color: #0000ff;
}

span {
    color: #0000ff;
}

header, .card-footer {
    background: #7da2a9;
}